# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Production build
# ===============================
dist/
build/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Cache
# ===============================
.vite/
.cache/
.tmp/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Testing
# ===============================
coverage/

# ===============================
# IDE / Editors
# ===============================
.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# ===============================
# OS Files
# ===============================
.DS_Store